#searchDiv
{
	margin-bottom: 12px;
}
/*
thead tr .header 
{
	background-image: url(chrome-extension://pbokpiiagfoppnddhpfkefeelinccdfp/images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

thead tr .headerSortUp 
{
	background-image: url(chrome-extension://pbokpiiagfoppnddhpfkefeelinccdfp/images/asc.gif);
}

thead tr .headerSortDown 
{
	background-image: url(chrome-extension://pbokpiiagfoppnddhpfkefeelinccdfp/images/desc.gif);
}

*/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: rgb(38, 47, 74);
	font-size: 10pt;
	font-weight: bold;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgb(38, 47, 74);
   font-size: 10pt;
	font-weight: bold;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgb(38, 47, 74);
   font-size: 10pt;
	font-weight: bold;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgb(38, 47, 74);
   font-size: 10pt;
	font-weight: bold;
}


table.full-size
{
	width: 100% !important;
	min-width: 1000px !important;
}



.indicator.workstate
{
	min-width: 6.5% !important;
	width: 6.5% !important;
}

.text.employee
{
	min-width: 16%px !important;
	width: 16% !important;
}

.text.info
{
	min-width: 6% !important;	
	width: 6% !important;
}

.text.phone.first
{
	min-width: 3% !important;
	width: 3% !important;
}

.text.phone.second
{
	min-width: 20% !important;
	width: 20% !important;
}

.text.phone.third
{
	min-width: 8% !important;
	width: 8% !important;
}

.indicator.mail
{
	min-width: 3% !important;
	width: 3% !important;
}

.text.workgroup
{
	min-width: 18% !important;
	width: 18% !important;
}

.text.room
{
	min-width: 12% !important;
	width: 12% !important;
	text-align: left;
}

.text.note
{
	min-width: 4% !important;
	width: 4% !important;
}

th.reset.button
{
	min-width: 5% !important;
	width: 5% !important;
}

td.reset.button
{
	min-width: 5% !important;
	width: 5%;
	color: white;
}


/*
td.workgroup, td.employee, th.workgroup, th.employee
{
	padding-left: 18px;
}

th.workgroup, td.workgroup
{
	min-width: 160px !important;
}

th.employee, td.employee
{
	min-width: 132px !important;
}

th.room, td.room
{
	min-width: 	100px !important;
}


td.reset.button
{
	min-width: 50px !important; 
	color: white;
}*/


#workgroupSelect
{
	width: 115px !important;
	height: 32px !important;
}

#workStateSelect
{
	width: 20px !important;
	height: 32px !important;
	border: 0;
}

#roomSelect
{	
	width: 50px !important;
	padding: 0px !important;
	height: 32px !important;
}

.arrowDiv
{
	width: 8px;
	height: 23px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.arrowDiv:active
{
	height: 25px;
}

.tableArrows
{
	margin: 0;
	border: 0px solid black;
}

.tableArrows:hover td
{
	background-color: rgb(221, 221, 221) !important;
}


.mdl-tooltip.is-active 
{
    animation: pulse 200ms cubic-bezier(0, 0, 0.2, 1) forwards !important;
}

.text .mdl-textfield {
    width: 100px;
}

input[type=text], select, select option
{
	color: black !important;
	
}

input[type=text]
{	
    font-size: 11pt !important;
}



/* scrollable table */



table.full-size tbody, table.full-size thead 
{ 
	display: block; 
	background-color: white;
}



table.full-size tbody {
    overflow-y: auto;
    overflow-x: hidden;
}

table.full-size th, table.full-size th *:not(i)
{
	font-weight: normal !important;
	font-size: 14px !important;
}



/*version 2

.content-wide 
{
    height: 500px;
}
table.full-size 
{
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
table.full-size thead 
{
    /* head takes the height it requires, 
    and it's not scaled when table is resized 
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
table.full-size tbody 
{
    /* body takes all the remaining available space 
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
table.full-size tbody tr 
{
    width: 100%;
}
table.full-size thead,
table.full-size tbody tr 
{
    display: table;
    table-layout: fixed;
}

*/